streamlit
pandas
numpy<2
pydeseq2
fastcluster
plotly
requests
markdown
python-docx
htmldocx
pydantic
inmoose
patsy
PyPDF2
langchain
langchain-openai
langchain-community
langchain-text-splitters
faiss-cpu
openai
langgraph
tiktoken
